.content {
    margin: 3em auto;
    display: block;
    text-align: center;
}
.content .z_logo {
    text-align: center;
}
.content .z_logo img {height: 50px; width: 200px;}

.login-content .login_b img, .login-content .login_f img, .login-content .login_t img, .login-content .register_b img{
    height: 50px;
    margin-top:30px;
} 
/*.login-content {
    width: 70%;
    margin: 7em auto;
    overflow:auto;
}*/
.login-content.login {
    width: 90%;
    margin: 0.5em auto;
}

.login-content input {
    width: 100%;
    padding: 0.8em;
    margin: 0.5em 0 0 0.5em;
    color: grey;
    -webkit-border-radius:  0.3em;
    border-radius: 0.3em;
    border: none;
}
.login-content.login input {
    display: -webkit-inline-box;
    width:70%;
}
.login-content .loginb {
    padding: 10px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#d6d394), color-stop(50%,#ff9900), color-stop(100%,#9cba5a));
    display: -webkit-inline-box;
    -webkit-border-radius:  0.3em;
    border-radius: 0.3em;
    font-weight: 700;
}

.login-content .loginb:link {
    color: #66343434;
}
.login-content .loginb:hover {
    color: rgb(255,134,193);
}
.login-content .loginb:visited, .login-content .loginb:active {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(214,211,148)), color-stop(50%,rgb(255,153,0)), color-stop(100%,rgb(247,243,206)));
}
.login-content .register_avatar {
    padding: 0.8em;
    display: -webkit-inline-box;
    width: 70%;
    color: grey;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
    text-align: left;}

.login-content .register_avatar .user_img {
    width: 4.5em;
    height: 4.5em;
}
.login-content .register_avatar .small_img {
    width: 2em;
    vertical-align: top;
    margin-top: 0.5em;
}
.login-content .register_avatar .ch_text{
    vertical-align: top;
    margin-top: 0.5em;
    display: -webkit-inline-box;
}

.login-content .radio_group {text-align: left; width: 70%; display: -webkit-inline-box;}
.login-content .radio_group input {width: auto; background-color: transparent; margin: 0.7em;}
.login-content .radio_group a {margin: 0.7em;}
.login-content .wopen{display: -webkit-inline-box;width: 70%;}
.login-content .wopen input[type='checkbox'] {width: auto;}